.app body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
.app * {
    font-family: "Verdana", cursive, sans-serif;
    color: #ffffff;
}

.back {
  background-color: #070f61;
  width: 100%;
  padding: 15px 30px;
}

.back h1 {
  color: #f1f1f6;
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 30px;
}

.back h1 span {
  color: #87B3F5;
  font-weight: 700;
}

.app0 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 88vh;
}
  
.app {
    background-color: #252d4a;
    width: 550px;
    min-height: 250px;
    height: min-content;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
    display: flex;
    margin-bottom: 150px;
    justify-content: space-evenly;
}
  
  .finish {
    display: flex;
    flex-direction: column;    font-size: 24px;
    align-items: center;
  }
  
  /* QUESTION/TIMER/LEFT SECTION */
  .question-section {
    width: 100%;
    position: relative;
  }
  
  .question-count {
    margin-bottom: 20px;
  }
  
  .question-count span {
    font-size: 28px;
  }
  
  .question-text {
    margin-bottom: 12px;
  }
  
  .timer-text {
    background: rgb(230, 153, 12);
    padding: 15px;
    margin-top: 20px;
    margin-right: 20px;
    border: 5px solid rgb(255, 189, 67);
    border-radius: 15px;
    text-align: center;
  }
  
  /* ANSWERS/RIGHT SECTION */
  .answer-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  
  .app input {
    width: 100%;
    height: 44px;
    position: relative;
    padding: 0px 16px;
    border: none;
    border-radius: 4px;
    font-family: 'Gotham SSm A', 'Gotham SSm B', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    background-color: #282828;
  }

  .app button {
    width: 100%;
    font-size: 16px;
    color: #ffffff;
    background-color: #252d4a;
    border-radius: 15px;
    display: flex;
    padding: 5px;
    justify-content: flex-start;
    align-items: center;
    border: 5px solid #234668;
    cursor: pointer;
  }
  
 .app button:hover {
    background-color: #555e7d;
  }
  
 .app button:focus {
    outline: none;
  }
  
 .app button svg {
    margin-right: 5px;
  }

  .app button1 {
    display: inline-block;
    padding: 10px 15px;
    border-radius: 8px;
    background-image: linear-gradient(to right, #87B3F5 50%, #87B3F5 50%, #0F8360);
    background-size: 200%;
    background-position: 0%;
    transition: 0.4s;
    color: #FFF;
    font-weight: 700;
    cursor: pointer;
  }
  
  .app button1:hover {
    background-position: 100% 0%;
  }

  .back h2 {
    color: #95A1C1;
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 30px;
    position: top;
  }