* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: montserrat, sans-serif;
}

input, button {
  appearance: none;
  background: none;
  border: none;
  outline: none;
}

.LoginPage{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #234B70;
  overflow: hidden;
}

form {
  display: block;
  position: relative;
}

form:after {
  content: '';
  display: block;
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: 20px;
  z-index: 1;
  background-image: linear-gradient(to bottom right, #87B3F5, #0F8360);
}

form .form-inner {
  position: relative;
  display: block;
  background-color: #EEF;
  padding: 30px;
  z-index: 2;
}

form .form-inner {
  color: #234B70;
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 30px;
}

form .form-inner .form-group {
  display: block;
  width: 300px;
  margin-bottom: 25px;
}

form .form-inner .form-group label {
  display: block;
  font-size: 12px;
  margin-bottom: 5px;
  transition: 0.4s;
}

form .form-inner .form-group:focus-within label{
  color: #0F8360;
}

form .form-inner .form-group input {
  display: block;
  width: 100%;
  padding: 20px 15px;
  background-color: #F8F8F8;
  border-radius: 8px;
  transition: 0.4s;
}

form .form-inner .form-group input:focus {
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
}

form .form-inner input[type="submit"] {
  display: inline-block;
  padding: 10px 15px;
  border-radius: 8px;
  background-image: linear-gradient(to right, #87B3F5 50%, #87B3F5 50%, #0F8360);
  background-size: 200%;
  background-position: 0%;
  transition: 0.4s;
  color: #FFF;
  font-weight: 700;
  cursor: pointer;
}

form .form-inner input[type="submit"]:hover {
  background-position: 100% 0%;
}
