*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.MainPage{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /*background-image: url('../components/back.jfif');*/
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  background-color: #5F71AE;
  overflow: hidden;
}

.Title {
  top: 100px;
  display: block;
  position: absolute;
  background-color: #F1F1F1;
  text-align: center;
  padding: 20px;
  z-index: 1;
  border-radius: 4px;
}

.Title {
  padding: 30px;
  z-index: 2;
  color: #234B70;
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 30px;
}

.h2 {
  top: 250px;
  left: 60px;
  display: block;
  position: absolute;
  text-align: center;
  padding: 20px;
  color: #FFF;
  z-index: 1;
}

.Box {
  margin: 50px auto 0 auto;
  width: 400px;
  height: 120px;
  text-align: center;
}

.btn {
  font-size: 18px;
  padding: 10px 24px;
  border-radius: 4px;
  background-color: #EFF;
  color: black;
  border: 2px solid #0F2C46;
  transition-duration: 0.4s;
  margin-bottom: 10px
}

.btn:hover {
  background-color: #0F2C46;
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
